@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SuaFlix</h1>
</div>

 @* para cada tipo de filme *@ 
@foreach (var Movie in Model)
{
    <p>@Movie.Title - @Movie.OriginalTitle</p>
}